body {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.store-header {
    background-image: url('picture/result.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 30vh;
    display: flex;
    justify-content: center;
}

#story {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 19px;
    background-color: white;
}

.store-name {
    font-size: 40px;
    color: black;
    text-shadow: 3px 3px 3px rgb(221, 159, 170);
    background-color: white;
    margin-top: 0%;
    display: block
    
    
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

#store-items {
    color: #7B887A;
    margin-left: 10%;
    background-color: #ffe6e6;
}

#list-of-items {
    width:25%;
    height: 100%;
    margin-left: 8%;
    margin-top: 20px;
    margin-right: 8%;
    display:block;
}

#list-of-items h2 {
    font-size: 2em;
}

.container {
    display:flex;
    height:100%;
}

#list-of-items span {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

#list-of-items span:not(:last-child) { 
    margin-bottom: .5em;  
}

#list-of-items span {
    float: left;
    clear: left;
}


#item-detail {
    position: relative;
    margin-top: 20px;
    margin-right: 8%;
}

#item-information {
    position: relative;
    top:0px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    width:80%;
    height:auto;
    background-color: rgba(255, 255, 255, 0.75);
}

#item-name {
    text-transform: uppercase;
    font-size: 1.5em;
}

#item-description {
    font-size: 19px;
}

input[type=submit] {
    border:0px;
    background:white;
    font-size: 1em;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 10px;
}

input[type=text] {
    width: 150px;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 10px;
    padding:10px;
}


#add-to-cart-section {
    margin-bottom: 30%;
    position: relative;
    float: right;
    margin-right: 8%;
    
}

#item-image {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

h3 {
    margin-right: 29%;
}

#cart-button {
    height: 40px;
}

#like-button {
    height: 70%;
    width: 80%;
}

#like{
    height: 45px;
    width: 50px;
    border-radius: 10px;
}

#name {
    margin: 10px;
}

#review {
    margin: 10px;
    width: 50%;
    height: 80px;
}

#review-section{
    margin-left: 30px;
    margin-top: 30px;
}

#review-list > div {
    margin: 25px;
    width: 50%;
    border: 2.5px rgb(245, 168, 168) solid;
    padding: 20px;
}

#review-list > div > button {
    float: right;
<<<<<<< HEAD
}

.checked {
    color: orange;
}

#star {
    object-position:center;
}
=======
}
>>>>>>> c764e1b277eeb1f385e629cfc52c5f3d3a3b8938
